.bookings {
    display: flex;
    flex-wrap: wrap;
}

.booking {
    padding: 0.7rem;
    margin: 0.5rem;
}

.booking__finish {
    margin-left: auto;
}

.booking__header {
    font-size: large;
    padding: 0 0 1rem 0;
}

.booking__footer {
    display: flex;
    padding: 1rem 0 0 0;
    border-top: 2px solid darkcyan;
    margin: 1rem 0 0 0;
    justify-content: space-between;
}

.card__footer {
    display: flex;
    justify-content: space-between;
}